# OS Stuff
.DS_Store
.eslintcache
.directory
Thumbs.db

# MSVS Stuff
*.vcxproj.user
*.tlog
*.vs/
/.vs/

# Output directories
/out*
/debug/
/release/
/release64/
/dist/

# Built Files
*.a
*.obj
*.pdb
*.stamp

/source/dll/Debug/
/source/dll/Release/
/source/sample/Cpp/Debug/
/source/sample/Cpp/Release/
/source/sample/Cs/obj/